<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      th:with="footerMessage=#{reservation.confirmed.footer}">
<head>
    <title>Reservation Confirmation</title>
</head>
<body>
<div th:fragment="content">
    <div th:replace="fragments/greeting :: greeting(${userName})">Hello, Guest!</div>

    <div th:replace="fragments/text-message :: textMessage(
    #{reservation.confirmed.heading},
    'confirmed',
    'green')"></div>

    <div th:replace="fragments/reservation-wrapper :: reservationDetailsForGuest"></div>

    <p th:text="#{reservation.confirmed.dashboard}">You can manage your reservation or view more details by logging into your
        SleepUp dashboard.</p>

    <div th:replace="fragments/link :: link(${reservationUrl}, 'View Reservation')"></div>

</div>
</body>
</html>
