<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      th:with="footerMessage=#{reservation.cancelled.forGuest.footer}">
<head>
  <title th:text="#{reservation.cancellation.title}">Reservation Cancellation By Accommodation Owner</title>
</head>
<body>
<div th:fragment="content">
  <div th:replace="fragments/greeting :: greeting(${userName})"></div>

  <div th:replace="fragments/text-message :: textMessage(
      #{reservation.cancelled.guest.heading},
      'cancelled',
      'red'
  )"></div>

  <div th:replace="fragments/reservation-wrapper :: reservationDetailsForGuest"></div>

  <p th:text="#{reservation.cancelled.support}">
    If you have any questions or need assistance, feel free to contact our support team.
  </p>

  <div th:replace="fragments/link :: link(${dashboardUrl}, #{welcome.button})">View SleepUp</div>
</div>
</body>
</html>
